.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.card-img-top {
    transition: transform 0.3s ease-in-out; 
}

.contact {
    background: url('../assets/images/encuentra.jpg') no-repeat center center/cover;
    color: white;
    padding: 50px 0;
}

.contact .btn-warning{
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
}

.contact .btn-warning:hover {
    background-color: #0b5ed7; 
    border-color: #0b5ed7;
    color: white;
}

.custom-btn:hover{
    background-color: #aaf0d1 !important;
    border-color: #aaf0d1 !important;
    color: white !important; 
}

.custom-btn{
    background-color: #39ee9d !important;
    border-color: #39ee9d !important;
    color: white !important;
}

.properties .card {
    margin-bottom: 20px;
}

.properties .price {
    color: green;
    font-weight: bold;
}
